@media screen and (min-width: 700px) {
    
    body{
        background-color: rgb(2, 2, 50);
        color: bisque;
    }
    
    main{
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 0 10px bisque;
    }
    ul{
        list-style-type: none;
        line-height: 3;
        padding: 2em 0.5em;
}

input[type="number"]{
    width: 60%;
    padding:.5em;
    display: block;
}
input[type="button"]{
    margin-top: 2em;
    width: 61%;
    display: block; 
    padding: 1em;   
}
}

@media screen and (max-width: 699px) {
    
    body{
        background-color: rgb(2, 2, 50);
        color: bisque;
    }
    
    main{
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 0 10px bisque;
    }
    ul{
        list-style-type: none;
        line-height: 3;
        padding: 2em 0.5em;
}

input[type="number"]{
    width: 90%;
    padding:.5em;
    display: block;
}
input[type="button"]{
    margin-top: 2em;
    width: 90%;
    display: block; 
    padding: 1em;   
}
}